/*
=======================
Variables
=======================
*/
:root {
    --color-primary: #6aa6a3;
    --color-secondary: #add5d7;
    
    --color-white: #fff;
    --color-medium: #444;
    --color-dark: #333;
    
    --color-background-1: #f5f5f5;
    --color-background-2: #e6e6e6;
}
/*
=======================
Global settings
=======================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* This defines what 1rem is */
    font-size: 62.5%;
}
body {
    background: var(--color-background-1);    
    font-family: 'Open Sans', sans-serif;
}
/*
=======================
Typography
=======================
*/
h1 {    
    font-size: 5.6rem;
    font-weight: 300;    
}
h2 {
    font-size: 3rem;
    font-family: 'Kaushan Script', cursive;    
}
h3 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .15rem;
}
h4 {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .25rem;
}
p {
    font-size: 1.85rem;
    margin-bottom: 4rem;
    letter-spacing: .05rem;
    line-height: 1.4;
    max-width: 700px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.subtitle {    
    letter-spacing: .25rem;
    margin-bottom: 12rem;
    font-weight: 300;
}
/*
=======================
Utilities
=======================
*/
.container {
    width: 100%;        
}
.container-max-width {
    max-width: 1440px;
    margin: 0 auto;    
}
.section {        
    padding: 12rem 5rem;
    text-align: center;    
    color: var(--color-medium);
}
.bg-light-1 { background-color: var(--color-background-1); }
.bg-light-2 { background-color: var(--color-background-2); }
.bg-dark-1 { background-color: var(--color-primary); }