@import 'globals.css'; /* global resets and variables */

/*
=======================
Header
=======================
*/
.header {
    position: fixed;
    width: 100%;
    height: 80px;
}

/*
=======================
Navbar
=======================
*/
.nav {
    position: relative;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}
.brand-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;    
}
.logo-sm {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 2rem;
}
.brand-text {
    color: var(--color-medium);
    letter-spacing: 0.15rem;        
}
.by-kat-text {        
    font-size: 1.9rem;
    font-weight: lighter;
    margin-left: 1.6rem;
}
.nav-menu {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;                
}
.nav-menu.display {
    display: flex;
    flex-direction: column;
}
.menu-links {
    font-size: 1.6rem;
    color: var(--color-medium);
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s ease-out;
}
.menu-links:hover {
    border-bottom: 2px solid var(--color-primary);
}
.btn-contact {     
    padding: .65rem 1.8rem;
    font-size: 1.7rem;    
    letter-spacing: 0.1rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    cursor: pointer;
    border: none;    
}

/* Burger functionality */
.burger-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    cursor: pointer;    
}
.burger-line {
    display: block;
    background-color: var(--color-medium);
    width: 30px;
    height: 4px;
    margin: 2px;
    border-radius: 2px;
}
.burger-line.active {
    margin: 4px;
}

/* Navbar media queries */
@media screen and (max-width: 600px) {
    .nav-menu {
        position: absolute;
        flex-direction: column;
        top: 80px;
        left: -100%;
        height: 420px;
        background-color: #fff;
        transition: left .35s ease-out;
    }
    .nav-menu.open {
        left: 0;
    }
    .logo-sm {
        display: none;
    }
    .by-kat-text {
        display: none;
    }
    .btn-contact {
        display: none;
    }
    .burger-container {
        display: flex;
    }
}


/*
=======================
Home page
=======================
*/
.welcome-container {
    display: flex;
    flex-direction: row-reverse;
}
.welcome-container .paragraph-container {
    flex: 1 1 75%;
    padding-left: 12rem;
    text-align: left;
}
.welcome-image {
    display: block;
    flex: 1 1 25%;
    object-fit: cover;    
}
.about-container {
    display: flex;
    flex-direction: row;
}
.about-container .paragraph-container {
    flex: 1 1 60%;
    padding-right: 12rem;
    text-align: left;
}
.about-image {
    display: block;
    flex: 1 1 10%;
    object-fit: cover;    
}
.testimonials {        
    padding: 12rem 5rem;
    text-align: center;    
    color: var(--color-medium);
}
.testimonial-text {
    font-size: 1.75rem;
    line-height: 1.6;
    letter-spacing: .15rem;
    margin-bottom: 4rem;    
}

/* Main content - media queries */

/*
=======================
Footer
=======================
*/
.footer {
    padding: 12rem 5rem;
    color: var(--color-white);
    text-align: center;    
}