/*
=======================
Variables & Resets
=======================
*/
:root {
    --color-primary: #6aa6a3;
    --color-secondary: #add5d7;
    
    --color-white: #fff;
    --color-medium: #444;
    --color-dark: #333;
    
    --color-background-1: #f5f5f5;
    --color-background-2: #e6e6e6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* This defines what 1rem is */
    font-size: 62.5%;
}
body {
    background: var(--color-background-1);    
    font-family: 'Open Sans', sans-serif;
}
/*
=======================
Typography
=======================
*/
h1 {    
    font-size: 5.6rem;
    font-weight: 300;    
}
h2 {
    font-size: 3.2rem;
    font-weight: 600;    
}
h3 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .15rem;
}
h4 {
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: .25rem;
}
p {
    font-size: 1.85rem;
    margin-bottom: 4rem;
    letter-spacing: .05rem;
    line-height: 1.4;
    max-width: 700px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.subtitle {
    font-family: 'Kaushan Script', cursive;    
    letter-spacing: .25rem;
    margin-bottom: 12rem;
    font-weight: 300;
}
/*
=======================
Utilities
=======================
*/
.container {
    width: 100%;            
}
.container-max-width {
    max-width: 1280px;
    margin: 0 auto;
    padding: 12rem 5rem;
    /* border: 1px solid lightblue;     */
}
.section {        
    padding: 12rem 5rem;
    text-align: center;    
    color: var(--color-medium);    
}
.fancy-line {    
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    margin: 4rem auto;
    width: 80%;
}
.pad-l-8 { padding-left: 8rem }
.pd-r-lrg { padding-right: 8rem }
.pd-t-lrg { padding-top: 8rem }
.flex-row-reverse {
    flex-direction: row-reverse;
}
.btn {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.12rem;
    color: var(--color-white);
    background-color: #add5d7;
    border: none;    
    margin-top: 8rem;
    padding: .75rem 2rem;
    cursor: pointer;        
}
/*
=======================
Header
=======================
*/
.header {
    position: fixed;
    width: 100%;    
}
/*
=======================
Navbar
=======================
*/
.nav {
    position: relative;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    padding: 2rem 5rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);    
}
.brand-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;            
}
.logo-sm {
    display: block;
    width: 52px;
    height: 52px;
    margin-right: 2rem;
}
.brand-text {
    color: var(--color-medium);    
}
.by-kat-text {
    display: block;        
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: -.5rem;    
}
.nav-menu {       
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;                    
}
.nav-menu.display {
    display: flex;
    flex-direction: column;
}
.menu-links {
    font-size: 1.6rem;
    color: var(--color-medium);    
    padding-bottom: .5rem;    
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s ease-out;    
}
/* Burger functionality */
.burger-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    cursor: pointer;    
}
.burger-line {
    display: block;
    background-color: var(--color-medium);
    width: 24px;
    height: 3px;
    margin: 2px;
    border-radius: 2px;
}
.burger-line.active {
    margin: 4px;
}
/* Navbar media queries */
@media screen and (max-width: 1259px) {
    .by-kat-text {
        display: block;
        margin: -0.5rem 0 0 0.1rem;
    }
}
@media screen and (max-width: 1023px) {
    .by-kat-text {
        display: inline;
        margin: 0 0 0 1rem;
    }
    .nav {
        flex-direction: column;
        height: 140px;
        padding: 1rem 5rem;
    }
    .nav-menu {
        justify-content: space-between;
        margin: 2rem 0;
        width: 100%;        
    }
}
@media screen and (max-width: 679px) {
    .nav {
        flex-direction: row;
        height: 80px;
    }
    .brand-text {
        font-size: 2.8rem;
    }
    .logo-sm {
        display: none;
    }
    .by-kat-text {
        display: none;
    }
    .nav-menu {        
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
        background-color: var(--color-white);
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }
    .nav-menu.open {        
        transform: translateX(0);
    }
    .menu-li {
        padding: 2rem 0;
    }
    .burger-container {
        display: flex;
    }
}
/*
=======================
Background image
=======================
*/
.background-image {
    height: 50vh;
    background-image: url('../images/health-and-soul-logo-large.png'), url('../images/background-desktop.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: contain, cover;
    background-position: right, center;
}
/*
=======================
Background image
=======================
*/
.main-title-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-title {
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    color: var(--color-primary);
    max-width: 680px;        
}
/*
=======================
Home page
=======================
*/
.section-flex {
    display: flex;
    flex-direction: column;
}
.heading-container {    
    text-align: center;    
}
.content-container {
    display: flex;    
    background-color: rgb(238, 238, 238);
}
.paragraph-container-1 {    
    width: 80%;
    padding: 8rem;    
}
.welcome-image {
    display: block;
    width: 20%; 
    object-fit: cover;
    margin: -6rem -4rem 0 0;
    padding: 2rem;   
}
.footer-container {
    text-align: center;    
}
.paragraph-container-2 {    
    width: 70%;
    padding: 8rem;    
}
.about-image {
    display: block;    
    width: 30%;
    object-fit: cover;    
    margin: -10rem 0 0 -4rem;
    padding: 4rem;
}
.testimonials {        
    padding: 12rem 5rem;
    text-align: center;    
    color: var(--color-medium);
}
.testimonial-text {
    font-size: 1.75rem;
    line-height: 1.6;
    letter-spacing: .15rem;
    margin-bottom: 4rem;    
}

/* Main content - media queries */

/*
=======================
Footer
=======================
*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 12rem 5rem;
    color: var(--color-white);
    background-color: var(--color-secondary);    
}
.footer img {
    display: block;    
    width: 40px;       
}
.footer p {
    margin: 1rem 0 4rem 0;
}
.footer h4 {
    margin-top: 4rem;
}